@model SisDec.Models.Usuarios


<link href="~/Layout/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/Layout/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />

<link href="~/Layout/css/font-awesome.css" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">

<link href="~/Layout/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="~/Layout/css/pages/signin.css" rel="stylesheet" type="text/css">


<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </a><a class="brand" href="@Url.Content("/Home/Index")"><img src="~/Layout/img/logoford.jpg" width="135" height="100" /> <p>Sistemas de Informação de Apoio a Decisão no Controle de Peças </a>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{

    <div class="account-container">

        <div class="content clearfix">


            <h2>Autenticação obrigatoria!</h2>
            <img width="250" height="100" src="~/imagens/logoford.jpg">
            <div class="login-fields">
                <br />

                <p>Por favor insira seus dados.</p>
                
                <div class="field">
                    @Html.TextBoxFor(model => model.Login, new { @class = "login username-field", placeholder = "Login" })
                </div> <!-- /field -->

                <div class="field">
                    @Html.PasswordFor(model => model.Senha, new { @class = "login password-field", placeholder = "Senha" })
                </div> <!-- /password -->

            </div> <!-- /login-fields -->

            <div class="login-actions">

                <button class="button btn btn-success btn-large">Logar</button>

            </div> <!-- .actions -->

        </div> <!-- /content -->

    </div> <!-- /account-container -->
}



